
.navbar{
  background-color: rgb(225, 140, 13);
}

#register{
 
  background-color: rgb(225, 140, 13);
  border :1px solid black ;
  margin-left: 100px;
}
table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
.contianer{
    max-width:1200px;
    margin: 0 auto;
      
}  
