

<p>
  <mat-toolbar class="navbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     
    </button>
    <span>Task Management Web Application</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     
    </button>
    
      <button id="register" mat-raised-button  (click)="openDialog()">Create Task</button>

  </mat-toolbar>
</p>

<div class="contianer">
  <div style="margin-top: 10px;">
    
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <ng-container matColumnDef="taskid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Task Id </th>
          <td mat-cell *matCellDef="let row"> {{row.taskid}} </td>
        </ng-container>
       
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Task Name </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
    
       
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Task Details </th>
          <td mat-cell *matCellDef="let row"> {{row.details}} </td>
        </ng-container>

       

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row"> 
          <button mat-icon-button (click)="editProduct(row)"color="primary">
            <mat-icon>edit</mat-icon>
          </button> 
          
          <button mat-icon-button color="warn" (click)="deleteProduct(row.id)">
            <mat-icon>delete</mat-icon>
          </button> 
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        
      </table>
    
      
    </div>
    
    
  </div>
</div>